# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Dataset files
data/

# Model files
*.pth
*.pt

# Results
results/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Environment variables
.env