# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Dataset
data/

# Outputs
outputs/

# Model files
*.pth
*.pt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Environment variables
.env