# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
qa_env/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Model output
qa_model/
results/
logs/

# PyTorch
*.pt
*.pth

# Dataset files
train.json
train-v1.1.json

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Temporary files
*.tmp
*.log