# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Model files
model/

# Output files
output/

# Hugging Face cache
.cache/
huggingface/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env