# =========================
# Virtual Environments
# =========================
venv/
.env/
.venv/

# =========================
# PyTorch / Model Files
# =========================
*.pth
*.pt
models/

# =========================
# Training Outputs
# =========================
logs/
runs/

#
