# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# Output files
output/

# CSV files
*.csv

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Matplotlib cache
.matplotlib/