# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packages
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/

# Mac
.DS_Store

# Data and outputs
data/
confusion_and_roc/
