# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# Dataset files
data/*.csv

# Output files
output/model.pkl
output/*.png
output/*.txt

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db