# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Virtual environments
# =========================
venv/
.env/
.venv/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# PyTorch / ML artifacts
# =========================
*.pth
*.pt
*.onnx

# =========================
# Datasets (DO NOT COMMIT)
# =========================
data/
datasets/
cifar-10-batches-py/
cifar-10-python/

# =========================
# Training outputs
# =========================
logs/
runs/
checkpoints/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# ZIP files
# =========================
*.zip
