# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/
tf_env/

# =========================
# PyTorch / ML Artifacts
# =========================
models/*.pth
models/*.pt
*.onnx

# =========================
# Datasets / Cache
# =========================
data/
.cache/
datasets/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs & Outputs
# =========================
*.log
runs/

# =========================
# OS Specific
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# Zip / Archives
# =========================
*.zip
*.tar
*.tar.gz
